# Binaries
**/bin/
bin-int/

# production files
GameOfLife/assets/fonts/
GameOfLife/assets/textures/**.psd

# Visual Studio files and folder
*.log
.vs/
**.zip
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user